$font-family-sans-serif: 'Open Sans', sans-serif;
$font-size-base: 1rem;
$body-color: #8d8f92;
$headings-font-family: 'Quattrocento Sans', sans-serif;
$h2-font-size: 36px;
$headings-color: #292f36;
$paragraph-margin-bottom: 2rem;
$container-max-widths: (
  xl: 1170px
)
