@import "_variables";
@import "_header";

* {
  box-sizing: border-box;
}
body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
h2 {
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  padding-left: 24px;
  margin: 80px 0 60px 0;
  &:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 100%;
    background-color: #e1e6ea;
    left: 0;
  }
}
p {
  line-height: 26px;
}

.carousel-indicators {
  justify-content: flex-end;
  margin-right: 10%;
  @media (max-width: 991.98px) {
    display: none;
  }
}
.carousel-indicators li {
  border: 2px solid #fff;
  width: 13px;
  height: 13px;
  background: none;
  border-radius: 50%;
}
.carousel-indicators .active {
  background: #fff;
}
.carousel-caption {
  max-width: 1170px;
  height: 190px;
  text-align: left;
  top: 0;
  left: 15px;
  right: 0;
  bottom: 0;
  margin: auto;
  @media (max-width: 1199.98px) {
    left: 8px;
  }
}
.carousel-caption {
  h1 {
    font: 700 36px "Quattrocento Sans", sans-serif;
    text-transform: uppercase;
    color: #fff;
    margin: -25px 0 25px 0;
    @media (max-width: 767.98px) {
      font-size: 24px;
      margin: 15px 0 20px;
    }
  }
  p {
    color: #ccd0d7;
    @media (max-width: 767.98px) {
      display: none;
    }
    span {
      display: block;
      margin-bottom: 33px;
      @media (max-width: 767.98px) {
        margin-bottom: -10px;
      }
    }
  }
  .btn {
    color: #fff;
    background: 0;
    font: 700 14px "Quattrocento Sans", sans-serif;
    padding: 12px;
    text-transform: uppercase;
    border: 2px solid #fff;
    border-radius: 5px;
    width: 124px;
    height: 44px;
    margin-right: 10px;
    &:hover {
      background: #23b7a4;
      border: 2px solid transparent;
    }
    &:focus {
      box-shadow: none !important;
      outline: 0 none !important;
    }
    &:not(.disabled):active {
      background: #23b7a4;
      border-color: #23b7a4;
    }
  }
}
.main-data {
  border-bottom: 1px solid #dde1e4;
  p {
    span {
      font-weight: 700;
    }
  }
  ul {
    float: left;
    list-style-type: none;
    margin-top: 35px;
    margin-bottom: 110px;
    padding-inline-start: 0;
    li {
      float: left;
      a {
        padding: 17px;
        background: #c8cdd0;
        margin-right: 1px;
        font-size: 25px;
        color: #fff;
        &:hover {
          background: #d0d5d9;
          text-decoration: none;
        }
      }
      .icon-google:before {
        content: "\ea88";
      }
      .icon-facebook:before {
        content: "\ea90";
      }
      .icon-twitter:before {
        content: "\ea96";
      }
      .icon-dribbble:before {
        content: "\eaa7";
      }
      .icon-behance:before {
        content: "\eaa8";
      }
    }
  }
}
.advantages {
  margin-top: 205px;
  @media (max-width: 991.98px) {
    margin-top: 30px;
  }
  div {
    span {
      color: #fff;
      font: 700 20px "Quattrocento Sans", sans-serif;
      padding: 15px;
      width: 50px;
      height: 50px;
      background: #23b7a4;
    }
    h3 {
      font: 700 18px "Quattrocento Sans", sans-serif;
      color: #292f36;
      text-transform: uppercase;
      margin-top: -39px;
      margin-left: 70px;
    }
    p {
      margin-left: 70px;
      margin-bottom: 53px;
      color: #8d8f92;
      font: 16px/26px "Open Sans", sans-serif;
    }
  }
}
.team {
  h2 {
    margin: 80px 0 60px 0;
  }
}
.row {
  max-width: 1170px;
  margin: auto;
  img {
    width: 100%;
  }
  .team-social {
    display: none;
    list-style-type: none;
    float: left;
    position: absolute;
    top: 138px;
    left: 35px;
    @media (max-width: 991.98px) {
      display: block;
      top: 13px;
      left: -25px;
    }
    li {
      float: left;
      .icon-facebook-social,
      .icon-twitter-social,
      .icon-linkedin2-social {
        padding: 17px;
        margin-right: 1px;
        background: #3a454d;
        font-size: 15px;
        color: #fff;
        &:hover {
          background: #4e5a62;
          text-decoration: none;
        }
      }
      .icon-facebook-social:before {
        content: "\ea90";
      }
      .icon-twitter-social:before {
        content: "\ea96";
      }
      .icon-linkedin2-social:before {
        content: "\eaca";
      }
    }
  }
  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    height: 75px;
    width: 100%;
    background: #e1e6ea;
    font: 700 16px "Quattrocento Sans", sans-serif;
    text-transform: uppercase;
    color: #292f36;
    em {
      font-style: normal;
      font: 14px "Open Sans", sans-serif;
      color: #8d8f92;
      text-transform: none;
    }
  }
  .people {
    margin-bottom: 100px;
    @media (max-width: 1199.98px) {
      margin-bottom: 50px;
    }
    @media (max-width: 991.98px) {
      margin-bottom: 30px;
    }
    @media (max-width: 767.98px) {
      margin-bottom: 15px;
    }
  }
  .people:hover {
    .team-social {
      display: block;
    }
    .title {
      background: #3a454d;
      color: #fff;
      em {
        color: #fff;
      }
    }
    img {
      background: #d4dade;
      opacity: 0.4;
    }
    @media (max-width: 991.98px) {
      .title {
        background: #e1e6ea;
        color: #292f36;
        em {
          color: #8d8f92;
        }
      }
      img {
        background: #d4dade;
        opacity: 1;
      }
    }
  }
}
